<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Corporation_Database.Properties.Settings.RawMaterialsDataBaseConnectionString" connectionString="Data Source=|DataDirectory|\RawMaterialsDataBase.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
        <add name="Corporation_Database.Properties.Settings.RawMaterialsConnectionString" connectionString="Data Source=|DataDirectory|\RawMaterials.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
        <add name="Corporation_Database.Properties.Settings.MineDataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MineData.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
